name: Build

on:
  workflow_call:
    inputs:
      additional-build-flags:
        required: false
        type: string
        default: ""

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'ballerina-platform'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 21.0.3

      - name: Change to Timestamped Version
        run: |
          startTime=$(TZ="Asia/Kolkata" date +'%Y%m%d-%H%M00')
          latestCommit=$(git log -n 1 --pretty=format:"%h")
          VERSION=$((grep -w 'version' | cut -d= -f2) < gradle.properties | rev | cut --complement -d- -f1 | rev)
          updatedVersion=$VERSION-$startTime-$latestCommit
          echo $updatedVersion
          sed -i "s/version=\(.*\)/version=$updatedVersion/g" gradle.properties

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Set ENV Variables
        run: |
          echo -e '${{ toJson(secrets) }}' | jq -r 'to_entries[] | .key + "=" + .value' >> $GITHUB_ENV 

      - name: Build with Gradle
        env:
          packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
          packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
          publishUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
          publishPAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
        run: ./gradlew publish --no-daemon --scan ${{ inputs.additional-build-flags }}

      - name: Generate CodeCov Report
        uses: codecov/codecov-action@v3
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ballerina-runtime
          path: target/ballerina-runtime/
