name: Publish Snapshots

on:
    repository_dispatch:
        types: [ ballerina-lang-push ]
    workflow_dispatch:

jobs:
    publish-stdlib-modules:
        name: Publish Standard Library Modules
        runs-on: ubuntu-latest
        if: github.repository_owner == 'ballerina-platform'
        steps:
            -   name: Checkout Repository
                uses: actions/checkout@v2

            -   name: Trigger the Standard Library Module Builds
                if: github.event.action != 'stdlib-module-push'
                uses: ballerina-platform/ballerina-action@1.2.x
                with:
                    args:
                        run publish
                env:
                    WORKING_DIR: ./release
                    GITHUB_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
