name: PR Build (Connector)

on:
  workflow_call:
    inputs:
      additional-build-flags:
        required: false
        type: string
        default: ""
      additional-test-flags:
        required: false
        type: string
        default: ""


jobs:
    ubuntu-build:
        name: Build
        runs-on: ubuntu-latest
        concurrency:
          group: ${{ github.head_ref }}-ubuntu-build
          cancel-in-progress: true
        steps:
            -   name: Checkout Repository
                uses: actions/checkout@v3

            - name: Get Ballerina Version
              run: |
                BAL_VERSION=$(grep -w 'ballerinaLangVersion' gradle.properties | cut -d= -f2 | rev | cut --complement -d- -f1 | rev) 
                if [ -z "$BAL_VERSION" ]; then
                  BAL_VERSION="latest"
                fi
                echo "BAL_VERSION=$BAL_VERSION" >> $GITHUB_ENV
                echo "Ballerina Version: $BAL_VERSION"

            - name: Set Up Ballerina
              uses: ballerina-platform/setup-ballerina@v1.1.0
              with:
                version: 2201.11.0-pre-rc1

            -   name: Set up JDK 21
                uses: actions/setup-java@v3
                with:
                    distribution: 'temurin'
                    java-version: 21.0.3
            
            -   name: Set ENV Variables
                run: |
                  echo -e '${{ toJson(secrets) }}' | jq -r 'to_entries[] | .key + "=" + .value' >> $GITHUB_ENV 

            -   name: Build the Package
                env:
                    packageUser: ${{ github.actor }}
                    packagePAT: ${{ secrets.GITHUB_TOKEN }}
                run: |
                  ./gradlew build -x test ${{ inputs.additional-build-flags }}
                  ./gradlew test ${{ inputs.additional-test-flags }}

            -   name: Generate Codecov Report
                uses: codecov/codecov-action@v3
