name: Publish to the Ballerina DEV/STAGE Central (S/4 HANA)

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      hana-connector-group:
        required: true
        type: string

jobs:
  generate-matrix:
    name: Generate Matrix
    runs-on: ubuntu-latest
    outputs:
      directories: ${{ steps.set-matrix.outputs.directories }}
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v3
      - name: Set matrix for build
        id: set-matrix
        run: |
          folders=()
          cd ballerina
          for dir in $(find . -type d -maxdepth 1  -mindepth 1 | cut -c3-); do
            if [[ "$dir" == resources ]]; then
              continue
            fi
            folders+=("$dir"); 
          done
          echo "directories=$(jq -nc --args '$ARGS.positional' ${folders[@]})" >> $GITHUB_OUTPUT

  publish-release:
    runs-on: ubuntu-latest
    needs: generate-matrix
    strategy:
      matrix:
        directory: ${{ fromJSON(needs.generate-matrix.outputs.directories) }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 21.0.3

      - name: Ballerina Central Dev Push
        if: ${{ inputs.environment == 'DEV CENTRAL' }}
        env:
          BALLERINA_DEV_CENTRAL: true
          BALLERINA_STAGE_CENTRAL: false
          BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BALLERINA_CENTRAL_DEV_ACCESS_TOKEN }}
          packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
          packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
        run: |
          ./gradlew clean :${{ inputs.hana-connector-group }}-ballerina:${{ matrix.directory }}:build -PpublishToCentral=true 

      - name: Ballerina Central Stage Push
        if: ${{ inputs.environment == 'STAGE CENTRAL' }}
        env:
          BALLERINA_DEV_CENTRAL: false
          BALLERINA_STAGE_CENTRAL: true
          BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BALLERINA_CENTRAL_STAGE_ACCESS_TOKEN }}
          packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
          packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
        run: |
          ./gradlew clean :${{ inputs.hana-connector-group }}-ballerina:${{ matrix.directory }}:build -PpublishToCentral=true 
