name: Daily Build (S/4 HANA Connector)

on:
  workflow_call:
    inputs:
      hana-connector-group:
        required: true
        type: string

jobs:
  build-examples:
    name: Build Examples
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set Up Ballerina
        uses: ballerina-platform/setup-ballerina@v1.1.0
        with:
          version: latest

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 21.0.3

      - name: Build the Package
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew :${{ inputs.hana-connector-group }}-examples:build :${{ inputs.hana-connector-group }}-sanitation:build -x :${{ inputs.hana-connector-group }}-ballerina:build

  generate-matrix:
    name: Generate Matrix
    runs-on: ubuntu-22.04
    outputs:
      directories: ${{ steps.set-matrix.outputs.directories }}
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v3
      - name: Set matrix for build
        id: set-matrix
        run: |
          folders=()
          cd ballerina
          for dir in $(find . -type d -maxdepth 1  -mindepth 1 | cut -c3-); do
            if [[ "$dir" == resources ]]; then
              continue
            fi
            folders+=("$dir"); 
          done
          echo "directories=$(jq -nc --args '$ARGS.positional' ${folders[@]})" >> $GITHUB_OUTPUT

  build-connectors:
    name: Build Connectors
    runs-on: ubuntu-22.04
    needs: generate-matrix
    strategy:
      matrix:
        directory: ${{ fromJSON(needs.generate-matrix.outputs.directories) }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 21.0.3

      - name: Build the Package
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew :${{ inputs.hana-connector-group }}-ballerina:${{ matrix.directory }}:build -x test -PbuildUsingDocker=nightly
          ./gradlew :${{ inputs.hana-connector-group }}-ballerina:${{ matrix.directory }}:test -PbuildUsingDocker=nightly

  send-notification:
    name: Send Failure Notification
    runs-on: ubuntu-22.04
    needs: [ build-examples, build-connectors ]
    if: ${{ failure() }}
    steps:
      # Send notification when build fails
      - name: Notify failure
        run: |
          curl -X POST \
          'https://api.github.com/repos/ballerina-platform/ballerina-release/dispatches' \
          -H 'Accept: application/vnd.github.v3+json' \
          -H 'Authorization: Bearer ${{ secrets.BALLERINA_BOT_TOKEN }}' \
          --data "{
            \"event_type\": \"notify-build-failure\",
            \"client_payload\": {
              \"repoName\": \"module-ballerinax-sap.s4hana.${{ inputs.hana-connector-group }}\"
            }
          }"
